<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="guru99Demo.guru99Demo.LoginTestCase"/>
      <class name="guru99Demo.guru99Demo.LoginTopNavTC2"/>
      <class name="guru99Demo.guru99Demo.AppTest"/>
      <class name="guru99Demo.guru99Demo.HomepageValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
